Repository autonomys/autonomys-agents, pull requests merged in 2024-12, with the labels that each got.

#47 Minor Updates to KOL Frontend
  auto-kol/frontend/src/pages/Dashboard.tsx
  auto-kol/frontend/src/pages/Responses.tsx
Labels: auto-kol

#75 fix a bug in batch processing - state management and type handling
  auto-kol/agent/src/services/agents/nodes/autoApprovalNode.ts
  auto-kol/agent/src/services/agents/nodes/engagementNode.ts
  auto-kol/agent/src/services/agents/workflow.ts
Labels: bug

#77 fix the problem in workflow and recheck node
  auto-kol/agent/src/services/agents/nodes/engagementNode.ts
  auto-kol/agent/src/services/agents/nodes/recheckSkippedNode.ts
  auto-kol/agent/src/services/agents/workflow.ts
Labels: bug

#84 Memory viewer prod - remove await for new memories
  auto-kol/agent-memory-viewer/backend/src/index.ts
  auto-kol/agent-memory-viewer/backend/src/utils/dsn.ts
  auto-kol/agent-memory-viewer/backend/src/utils/resurrection.ts
Labels: bug, auto-kol

#83 Refactor/kol get mentions
  auto-kol/agent/package.json
  auto-kol/agent/src/schemas/workflow.ts
  auto-kol/agent/src/services/agents/nodes.ts
  auto-kol/agent/src/services/agents/nodes/autoApprovalNode.ts
  auto-kol/agent/src/services/agents/nodes/engagementNode.ts
  auto-kol/agent/src/services/agents/nodes/mentionNode.ts
  auto-kol/agent/src/services/agents/nodes/recheckSkippedNode.ts
  auto-kol/agent/src/services/agents/nodes/responseGenerationNode.ts
  auto-kol/agent/src/services/agents/nodes/toneAnalysisNode.ts
  auto-kol/agent/src/services/agents/prompts.ts
  auto-kol/agent/src/services/agents/workflow.ts
  auto-kol/agent/src/services/twitter/api.ts
  auto-kol/agent/src/tools/index.ts
  auto-kol/agent/src/tools/tools/fetchTimelineTool.ts
  auto-kol/agent/src/tools/tools/mentionTool.ts
  auto-kol/agent/src/tools/tools/tweetSearchTool.ts
  auto-kol/agent/src/types/twitter.ts
  auto-kol/agent/src/utils/twitter.ts
Labels: enhancement, auto-kol

#87 support new type for conv thread
  auto-kol/agent-memory-viewer/frontend/src/components/memories/ApprovedMemory.tsx
  auto-kol/agent-memory-viewer/frontend/src/components/memories/SkippedMemory.tsx
  auto-kol/agent-memory-viewer/frontend/src/types/index.ts
Labels: frontend, auto-kol
